html {
  scroll-behavior: smooth;
}

/* FONTS */

@font-face {
  font-family: 'MenoBannerCondensed';
  src: url('/fonts/meno-banner-condensed-bold.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MenoBannerCondensed';
  src: url('/fonts/meno-banner-condensed-italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'MenoBannerExtraCondensed';
  src: url('/fonts/meno-banner-extra-condensed-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'MenoBannerExtraCondensed';
  src: url('/fonts/meno-banner-extra-condensed-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MenoBannerSemiBold';
  src: url('/fonts/meno-banner-semi-bold-italic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'AcuminPro';
  src: url('/fonts/Acumin-RPro.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'AcuminPro';
  src: url('/fonts/Acumin-ItPro.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'AcuminPro';
  src: url('/fonts/Acumin-BdPro.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'AcuminPro';
  src: url('/fonts/Acumin-BdItPro.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'GoogleSansCode';
  src: url('/fonts/GoogleSansCode-VariableFont_wght.ttf') format('truetype');
  font-weight: 300 800;
  font-style: normal;
}


@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #2d2d2d;
  --underline: #cfcfed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #eff1f7;
    --foreground: #2d2d2d;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* @apply font-sans; */
  transition:
    background-color 0.3s,
    color 0.3s,
    border-color 0.3s;
}

@layer utilities {
  .font-menocondensed-important {
    font-family: 'MenoBannerCondensed' !important;
    font-style: italic !important;
    font-weight: 400 !important;
  }
  .font-mbextracondensed-important {
    font-family: 'MenoBannerExtraCondensed' !important;
    font-style: normal !important;
    font-weight: 700 !important;
  }
  .font-mbsemibold-important {
    font-family: 'MenoBannerSemiBold' !important;
    font-style: italic !important;
    font-weight: 600 !important;
  }
  .font-google-sans-code {
    font-family: 'GoogleSansCode' !important;
    font-style: normal !important;
    font-weight: 400 !important;
  }
}

@media (max-width: 456px) {
  .hide-456 {
    display: none !important;
  }
}

@media (max-width: 350px) {
  .hide-350 {
    display: none !important;
  }
}

.dark {
  --background: #070707;
  --foreground: #f4f4f5;
  --underline: #44445a;
}

html.dark img[alt='GitHub'],
html.dark img[alt='LinkedIn'],
html.dark img[alt='Dribbble'],
html.dark img[alt='SE Webring'] {
  filter: invert(1) brightness(1.6) grayscale(0.2);
}

:root,
.dark {
  transition:
    background-color 0.3s,
    color 0.3s,
    border-color 0.3s;
}
