html {
  scroll-behavior: smooth;
}

/* FONTS */

@font-face {
  font-family: 'MenoBannerCondensed';
  src: url('/fonts/meno-banner-condensed-bold.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MenoBannerCondensed';
  src: url('/fonts/meno-banner-condensed-italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'MenoBannerExtraCondensed';
  src: url('/fonts/meno-banner-extra-condensed-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'MenoBannerExtraCondensed';
  src: url('/fonts/meno-banner-extra-condensed-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MenoBannerSemiBold';
  src: url('/fonts/meno-banner-semi-bold-italic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'AcuminPro';
  src: url('/fonts/Acumin-RPro.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'AcuminPro';
  src: url('/fonts/Acumin-ItPro.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'AcuminPro';
  src: url('/fonts/Acumin-BdPro.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'AcuminPro';
  src: url('/fonts/Acumin-BdItPro.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@import 'tailwindcss';

:root {
  --background: #eff1f7;
  --foreground: #2d2d2d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #eff1f7;
    --foreground: #2d2d2d;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* @apply font-sans; */
}

@layer utilities {
  .font-menocondensed-important {
    font-family: 'MenoBannerCondensed' !important;
    font-style: italic !important;
    font-weight: 400 !important;
  }
  .font-mbextracondensed-important {
    font-family: 'MenoBannerExtraCondensed' !important;
    font-style: normal !important;
    font-weight: 700 !important;
  }
  .font-mbsemibold-important {
    font-family: 'MenoBannerSemiBold' !important;
    font-style: italic !important;
    font-weight: 600 !important;
  }
}

@media (max-width: 456px) {
  .hide-456 {
    display: none !important;
  }
}

@media (max-width: 350px) {
  .hide-350 {
    display: none !important;
  }
}

.dark {
  --background: #18181b;
  --foreground: #f4f4f5;
}

html.dark img[alt='GitHub'],
html.dark img[alt='LinkedIn'] {
  filter: invert(1) brightness(1.6) grayscale(0.2);
}
